/*
    Description : Custom Css File Used By The Whole Project
    Author      : T.M. Rithwanul Islam.
*/

.margin-space-ten{
    margin-top: 10px;
}

.margin-space-below-ten{
    margin-bottom: 10px;
}
